@model List<Employee_Management_System.Models.Salary>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="">
        <h3>Salary Section</h3>
    </div>
    <div class="block row">
        <div>
            <p class="header left">Salary List</p>
        </div>
        <div>
            <a href="@Url.Action("SalaryForm")" class="right btn">Add Salary</a>
        </div>
    </div>
    <div class="block row">
        <table class="highlight">
            <tr>
                <th>
                    Salary ID
                </th>
                <th>
                    Department ID
                </th>
                <th>
                    Employee ID
                </th>
                <th>
                    Salary
                </th>
                <th>
                    Tax
                </th>
                <th>
                    Penalty
                </th>
                <th>
                    Net Salary
                </th>
                <th>
                    Remarks
                </th>
                <th>
                    Actions
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.salaryID
                    </td>
                    <td>
                        @item.departmentID
                    </td>
                    <td>
                        @item.employeeID
                    </td>
                    <td>
                        @item.salary1
                    </td>
                    <td>
                        @item.tax
                    </td>
                    <td>
                        @item.penalty
                    </td>
                    <td>
                        @item.netSalary
                    </td>
                    <td>
                        @item.remarks
                    </td>
                    <td>
                        <a href="@Url.Action("SalaryForm", new { @item.salaryID,@item.departmentID,@item.employeeID,@item.salary1,@item.tax,@item.penalty,@item.netSalary,@item.remarks})" class="btn">Edit</a>
                        <button class="btn HideonClick" data-HideID="@item.salaryID">Delete</button>
                    </td>
                </tr>
                <tr id="@item.salaryID" class="HideRow">
                    <td colspan="8" class="center">
                        Do you want to delete this Salary Data?
                    </td>
                    <td>
                        <a href="@Url.Action("DeleteSalary",new { @item.salaryID})" class="btn">Yes</a>
                        <button class="btn HideonClick" data-HideID="@item.salaryID">No</button>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

